.DS_Store
/.build
/.doccbuilds
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Tests/TBRESTClientLibTests/Resources/ServerSettings.json
